@{ 
    Layout = "~/shared/_layout.cshtml";
}

@section header {
    <header>
        <h1>Mega Escritorio</h1>
        <a class="btn btn-primary" href="~/new">Add a New Desk</a>
    </header>
}

<p>List desk orders here</p>