@{

    <link href="~/assets/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />

    Validation.RequireField("Name", "Name is required.");
    Validation.RequireField("Width", "Width is required.");
    Validation.RequireField("Length", "Length is required.");

    var Name = Request.Form["Name"];
    var Width = Request.Form["Width"];
    var Length = Request.Form["Length"];
    var MaterialType = Request.Form["getMaterial"];
    var NumOfDrawers = Request.Form["getDrawers"];
    var RushOrderDays = Request.Form["getDays"];
    var surfacePrice = 0;
    var surfaceUpgrade = 0;
    var shippingPrice = 0;
    var surfaceArea = 0;
    var price = 100;  // temporary value--int, right

    if (IsPost && Validation.IsValid())
    {
        Console.Write("form has been submitted");
        var db = Database.Open("Orders");
        //use the length and width to determine the surfaceArea upgrade
        try
        {
            surfaceArea = Int32.Parse(Width) * Int32.Parse(Length);
            surfacePrice = surfaceArea > 1000 ? (surfaceArea - 1000) * 5 : 0;
        }
        catch (IOException e)
        {
            Console.WriteLine("IOException source: {0}", e.Source);
        }
        //get the upgrade for the material
        surfaceUpgrade = db.QueryValue("SELECT Upgrade FROM Materials WHERE Material=(@0)", MaterialType);

        //get the upgrade for the Rush Days Option
        if (surfaceArea < 1000)
        {
            shippingPrice = db.QueryValue("SELECT smallDesk FROM shippingPrices WHERE NewDays=(@0)", RushOrderDays);
        }
        else if (surfaceArea >= 1000 && surfaceArea < 1999)
        {
            shippingPrice = db.QueryValue("SELECT medDesk FROM shippingPrices WHERE NewDays=(@0)", RushOrderDays);
        }
        else if (surfaceArea >= 2000)
        {
            shippingPrice = db.QueryValue("SELECT largeDesk FROM shippingPrices WHERE NewDays=(@0)", RushOrderDays);
        }

        // Define the insert query. The values to assign to the
        // columns in the Product table are defined as parameters
        // with the VALUES keyword.


        if (ModelState.IsValid)
        {
            var insertQuery = "INSERT INTO Orders2(Name, Width, Length, NumDrawers, MaterialType, RushDays, Price, Date) " +
                 "VALUES (@0, @1, @2, @3, @4, @5, @6, @7)";
            db.Execute(insertQuery, Name, Width, Length, NumOfDrawers, MaterialType, RushOrderDays, price, DateTime.Now);

            // Display the page that lists products.
            Response.Redirect("~/index");
        }
    }
    }
<script src="~/assets/js/vendor/jquery.min.js"></script>
<script>
    //$(".material").change(function () {
    //    $(this).addClass("selected-border");
        //if ($(this).val() == "pine"){
        //     $(".pine-img").addClass("selected-border");
        // } else if ($(this).val() == "poplar"){
        //     $(".poplar-img").addClass("selected-border");
        // } else if ($(this).val() == "laminate") {
        //     $(".laminate-img").addClass("selected-border");
        // } else if ($(this).val() == "oak") {
        //     $(".oak-img").addClass("selected-border");
        //} else if ($(this).val() == "alder") {
        //    $(".alder-img").addClass("selected-border");
        //}
    //});

    $(".material").change(function () {
            var material = ""; 
        $(".pine-img, .laminate-img, .oak-img, .alder-img ").removeClass("selected-border");
               material = $(this).text() + "-img";
        $(material).addClass("selected-border");
    });

    $(".pine-img").click(function () {
        Response.Write("alert(hello)");
        $(".pine-img").addClass("selected-border");
    });
</script>

@section header {
    <header>
        <h1>Add a New Desk</h1>
    </header>
}

<form id="new-entry" method="post">
    @Html.ValidationSummary()
    <h4>Base Desk Price: $200</h4>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="Name" type="text" size="20" value="@Name" />

    </div>
    <div class="form-group">
        <label>Width:</label>
        <input class="form-control" name="Width" type="text" size="20" value="@Width" />

    </div>
    <div class="form-group">
        <label>Length:</label>
        <input class="form-control" name="Length" type="text" size="20" value="@Length" />

    </div>
    <div class="form-group">
        <label>Desk Material:</label>
        <select class="form-control material"  name="getMaterial">
            <option value="pine">Pine - $50</option>
            <option value="poplar">Poplar - $75</option>
            <option value="laminate">Laminate - $100</option>
            <option value="oak">Oak - $200</option>
            <option value="alder">Alder - $250</option>
        </select>
    </div>
        <div class="material-types row">
            <div class="col-xs-2 col-md-2">
                <img class="pine-img" src="~/assets/images/pine.jpg" height="100" width="100" />
            </div>
            <div class="col-xs-2 col-md-2">
                <img class="poplar-img" src="~/assets/images/poplar.jpg" height="100" width="100" />
            </div>
            <div class="col-xs-2 col-md-2">
                <img class="laminate-img" src="~/assets/images/laminate.jpg" height="100" width="100" />
           </div>
           <div class="col-xs-2 col-md-2">
              <img class="oak-img" src="~/assets/images/oak.jpeg" height="100" width="100" />
           </div>
           <div class="col-xs-2 col-md-2">
              <img class="alder-img" src="~/assets/images/alder.jpg" height="100" width="100" />
           </div>
        </div>
    <div class="form-group">
        <label>Number Of Drawers:</label>
        <select class="form-control" name="getDrawers">
            <option value="zero">0</option>
            <option value="one">1 - $50</option>
            <option value="two">2 - $100</option>
            <option value="three">3 - $150</option>
            <option value="four">4 - $200</option>v
            <option value="five">5 - $250</option>
            <option value="six">6 - $300</option>
            <option value="seven">7 - $350</option>
        </select>
    </div>
    <div class="form-group">
        <label>Shipping Days:</label>
        <select class="form-control" name="getDays">
            <option value="three">3 days</option>
            <option value="five">5 days</option>
            <option value="seven">7 days</option>
            <option value="ground">14 days</option>
        </select>
    </div>
    <div class="button-group">
        <a href="~/index" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>