


@section header {
    <header>
        <h1>Delete</h1>
    </header>
}

<form id="new-entry" method="post">
    <label>
        Label:
        <input type="text" name="" value="" disabled />
    </label>

    <div class="button-group">
        <a href="~/index/view-orders" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>