@{
    Layout = "~/shared/_layout.cshtml";
}

@{
    Validation.RequireField("name", "Name is required.");
    Validation.RequireField("width", "Width is required.");
    Validation.RequireField("length", "Length is required.");

    if (IsPost && Validation.IsValid())
    {

        var name = Request.Form["name"];
        var width = Request.Form["width"];
        var length = Request.Form["length"];
        var materialType = Request.Form["getMaterial"];
        var numOfDrawers = Request.Form["getDrawers"];
        var rushOrderDays = Request.Form["getDays"];

        var drawerPrice = 0;
        var surfacePrice = 0;
        var surfaceUpgrade = 0;
        var shippingPrice = 0;
        var surfaceArea = 0;
        var price = 0;
        var basePrice = 200;

        var db = Database.Open("Orders");

        //use the length and width to determine the surfaceArea upgrade
        try
        {
            surfaceArea = Int32.Parse(width) * Int32.Parse(length);
            surfacePrice = surfaceArea > 1000 ? (surfaceArea - 1000) * 5 : 0;
        }
        catch (IOException e)
        {
            Console.WriteLine("IOException source: {0}", e.Source);
        }
        //get the upgrade for the material
        surfaceUpgrade = db.QueryValue("SELECT Upgrade FROM Materials WHERE Material=(@0)", materialType);

        //get the upgrade for the Rush Days Option
        if (surfaceArea < 1000)
        {
            shippingPrice = db.QueryValue("SELECT smallDesk FROM shippingPrices WHERE Days=(@0)", rushOrderDays);
        }
        else if (surfaceArea >= 1000 && surfaceArea < 1999)
        {
            shippingPrice = db.QueryValue("SELECT medDesk FROM shippingPrices WHERE Days=(@0)", rushOrderDays);
        }
        else if (surfaceArea >= 2000)
        {
            shippingPrice = db.QueryValue("SELECT largeDesk FROM shippingPrices WHERE Days=(@0)", rushOrderDays);
        }

        // Calculate Drawer Price
        drawerPrice = Int32.Parse(numOfDrawers) * 50;

        // Calculate Total Price
        price = basePrice + surfacePrice + drawerPrice + shippingPrice;


        // Define the insert query. The values to assign to the
        // columns in the Product table are defined as parameters
        // with the VALUES keyword.

        if (ModelState.IsValid)
        {


            var queryString = "INSERT INTO Orders2(Name, Width, Length, NumDrawers, MaterialType, RushDays, Price, Date) " +
         "VALUES (@0, @1, @2, @3, @4, @5, @6, @7)";
            db.Execute(queryString, name, width, length, numOfDrawers, materialType, rushOrderDays, price, DateTime.Now);

            // Display the page that lists products.
            Response.Redirect("~/index");
        }
    }
}

@section header {
    <header>
        <h1>Order a New Desk</h1>
    </header>
}

<form id="new-entry" method="post">
    @Html.ValidationSummary()

    <h4>Base Desk Price: $200</h4>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="name" type="text" size="20" value="@Request.Form["name"]" />

    </div>
    <div class="form-group">
        <label>Width:</label>
        <input class="form-control" name="width" type="text" size="20" value="@Request.Form["width"]" />

    </div>
    <div class="form-group">
        <label>Length:</label>
        <input class="form-control" name="length" type="text" size="20" value="@Request.Form["length"]" />

    </div>
    <div class="form-group">
        <label>Desk Material:</label>
        <select class="form-control material" name="getMaterial">
            <option value="pine">Pine - $50</option>
            <option value="poplar">Poplar - $75</option>
            <option value="laminate">Laminate - $100</option>
            <option value="oak">Oak - $200</option>
            <option value="alder">Alder - $250</option>
        </select>
    </div>
    <div class="material-types row">
        <div class="img-container">
            <img class="pine" src="~/assets/images/pine.jpg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="poplar" src="~/assets/images/poplar.jpg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="laminate" src="~/assets/images/laminate.jpg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="oak" src="~/assets/images/oak.jpeg" height="100" width="100" />
        </div>
        <div class="img-container">
            <img class="alder" src="~/assets/images/alder.jpg" height="100" width="100" />
        </div>
    </div>
    <div class="form-group">
        <label>Number Of Drawers:</label>
        <select class="form-control" name="getDrawers">
            <option value="0">0</option>
            <option value="1">1 - $50</option>
            <option value="2">2 - $100</option>
            <option value="3">3 - $150</option>
            <option value="4">4 - $200</option>
            <option value="5">5 - $250</option>
            <option value="6">6 - $300</option>
            <option value="7">7 - $350</option>
        </select>
    </div>
    <div class="form-group">
        <label>Shipping Days:</label>
        <select class="form-control" name="getDays">
            <option value="3">3 days</option>
            <option value="5">5 days</option>
            <option value="7">7 days</option>
            <option value="14">14 days</option>
        </select>
    </div>
    <div class="button-group">
        <a href="~/index/display-orders" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Place Order</button>
    </div>
</form>